<%= display_header(@equalizer) %>
<%= render partial: 'layouts/errors', locals: {object: @equalizer} %>

<%= form_for(@equalizer) do |f| %>
    <% if params[:artist_id] %>
        <%= f.hidden_field :artist_id %>
    <% else %>
    <div>
        <%= f.label :artist_id, "Select an Artist" %>
        <%= f.collection_select :artist_id, Artist.alphabetical_order, :id, :artist_name_and_genre, include_blank: true %>
    </div>
    <% end %>
    <div>
        <%= f.label :settings %>
        <%= f.text_area :settings %>
    </div>
    <br>
    <%= f.submit %>
<% end %>
